.tile-container{
  box-sizing: border-box;
  float: left;
  text-align: center;

  border: 1px solid black;
}

.blank, .mine{
  height: 7.5%;
}

.blank, .mine{
  background-color: #606060;
}

.blank.clicked{
  background-color: #A0A0A0;
}

.tile img{
  height: 100%;
}

.by{
  font-weight: normal;
  font-size: 12px;
}

.board-header{
  width: 100%;
}

.board-header > *{
  display: inline-block;
  margin-left: 2.5%;
}

.flagged, .cheat.mine.flagged{
  background-color: blue;
}

.question-marked, .cheat.mine.question-marked{
  background-color: pink;
}

.cheat.mine{
  background-color: red;
}

.you-win{
  color: green;
}

.you-lose{
  color: red;
}

.blue{
  color: blue;
}

.pink{
  color: pink;
}

.red{
  color: red;
}

ol, ul{
  margin: 0;
}
