.tile-container{
  box-sizing: border-box;
  float: left;
  text-align: center;

  border: 1px solid black;
}

.tile{
  height: 60px;
}

.blank, .mine{
  background-color: #606060;
}

.blank.clicked{
  background-color: #A0A0A0;
}

.tile img{
  height: 100%;
}

.by{
  font-weight: normal;
  font-size: 12px;
}

.board-header{
  width: 100%;
}

.board-header > *{
  display: inline-block;
  margin-right: 2.5%;
}

.flagged, .cheat.mine.flagged{
  background-image: url('flag.jpg');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.question-marked, .cheat.mine.question-marked{
  background-image: url('question_mark.jpg');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.cheat.mine{
  background-color: red;
}

.end{
  font-size: 17px;
  font-weight: bold;
}

.you-win{
  color: green;
}

.you-lose{
  color: red;
}

.blue{
  color: blue;
}

.pink{
  color: pink;
}

.red{
  color: red;
}

ol, ul{
  margin: 0;
  font-weight: normal;
}

h1, h4{
  margin: 5px 0px;
}

.adjacent-mine-count{
  line-height: 60px;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  font-size: 20px;
}

.game-info{
  font-weight: bold;
}

.boom {
  background-image: url('mine.jpg');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 50%;
}
