<html>
  <head>
    <script src="app.js"></script>
    <link href="app.css" rel="stylesheet">
  </head>
  <body ng-app="mineSweeper">
    <header>
      <h1 class='welcome'>Welcome to Minesweeper<span class='by'> Brought to you by: <a href='http://braydencleary.com' target="_blank">Brayden Cleary</a></span></h1>
      <h4 class='directions'>
        Directions:
        <ul>
          <li>There are 10 mines and 64 total tiles.</li>
          <li>Click to uncover a tile.</li>
          <li>Click + alt-key to 'flag' a tile <span class='blue'>(blue background)</span>.</li>
          <li>Click + alt-key a flagged tile to 'question mark' a tile <span class='pink'>(pink background)</span>.</li>
          <li>Reveal mines by clicking 'toggle cheat' <span class='red'>(red background)</span>.</li>
          <li>The number on a tile indicates the number of mines touching that tile in any direction.</li>
        </ul>
      </h4>
      <h4 class='how-to-win'>Ways to win:
        <ol>
          <li>Clicking on all non-mine (54) tiles.
          <li>Flagging all the mines and clicking the 'Check Board' button.
        </ol>
      </h4>
    </header>
    <div class='board' ng-controller = "boardController">
      <div class='board-header'>
        <div class='timer'>
          <span class='game-info'>Timer:  </span></b><timer auto-start=false></timer>
        </div>
        <div class='mine-count'><span class='game-info'>Number of Mines: </span>{{numMines}}</div>
        <div class='mines-flagged'><span class='game-info'>Number of Mines Flagged: </span>{{flaggedMineCount}}</div>
        <div class='check'><button ng-click="checkBoard()">Check Board</button></div>
        <button ng-click="resetBoard(rows)">Reset</button>
        <button ng-click="flipCheating()">Toggle Cheat</button>
        <div class='you-win' ng-show="winner">You win!</div>
        <div class='you-lose' ng-show="loser">You lose</div>
      </div>
      <div class='tile-container' ng-repeat = "tileType in board" ng-style="styleTile()">
        <div tile tile-index={{$index}} class={{tileType}} adjacent-mines={{calculateAdjacentMines($index)}} adjacent-tiles={{surroundingTiles($index)}} ng-class="isCheating()"></div>
      </div>

    </div>
  </body>
</html>
